
#loupe {
        position:absolute;
        right:5px;
        top:-90px;
        display:inline-block;
        background:#eee;
        border:1px solid #DD4B39;
        font-size:4em;
        font-weight:700;
        padding:10px;
    }
    
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    }
